<style>
    .kulkaSensoStrikte{
        transition: fill 2s, cx 2s, cy 2s, r 2s, margin 3s, width 2s, height 2s;
    }
    .kulkaSensoStrikte:hover{
        fill:black;
        cx:80;
        cy:80;
        r:80;
        height: 160;
        width: 160;
    }
    #kontener{
        position: relative;
        left: 0;
        top: 20%;
        transform: translate(-0%, -50%);
    }
    .strzalka{
        position: relative;
    }
    #kontener .strzalka {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #kliknij{
        margin-left: 30px;
        font-size: 60px;
        font-family: "Comic Sans MS";
        display:inline;
    }
    #strz{
        float:left;
    }
    .strzalka #kliknij{
        position: absolute;
        top: 50%;
        transform: translate(-0%, -50%);
    }
    
    #day2{
        padding-top: 400px;
    }


</style>    

<script>
    var licznik=1;
       
    function przekrec(){
        if(licznik%2==0)
            document.getElementsByClassName("kulkaSensoStrikte")[0].style="margin-left: 0px;";
        else
            document.getElementsByClassName("kulkaSensoStrikte")[0].style="margin-left: 500px;";
        licznik++
    }  
</script>

<div id="kontener">

        <svg width=100 height=100 class="kulkaSensoStrikte">
            <circle cx=50  class="kulkaSensoStrikte" cy=50 r="50" fill="red" onclick="przekrec();"></circle>
        </svg>
   


    <div class="strzalka">
        <div id="strz">
            <svg height="50" width="300">
                <line x1="0" y1="25" x2="300" y2="25" style="stroke:black; stroke-width:5px;" />
                <line x1="0" y1="25" x2="40" y2="0" style="stroke:black; stroke-width:5px;" />
                <line x1="0" y1="25" x2="40" y2="50" style="stroke:black; stroke-width:5px;" />
            </svg>
        </div>
    
        <div id="kliknij">
            <a>kliknij</a>
        </div>
    </div>
    
</div>   
    
<section id="day2">
    <svg width=300 height=300>
        <polygon points="0,300 250,0 300,300" fill="red" />
    </svg>
    <svg width=300 height=300>
        <polygon points="150,0 300,300 0,100 300,100 0,300" fill="red" stroke="black" fill-rule="evenodd" />
    </svg>
    <svg width=300 height=300>
        <polyline points="50,300 10,265 10,245, 70,235 70,15 85,0 100,15 100,245" stroke="green" fill="none" />
    </svg>
    <svg width=200 height=300>
        <a href=http://wykop.pl>
            <text x=20 y=100 transform="rotate(20 33,55)" style="font-size:xx-large;" fill="red">wooooooow</text>
        </a>
    </svg>
    <svg width=200 height=200>
        <path stroke-dasharray="4,8,8" d="M10 10 L180 0" stroke="red">
    </svg>
</section>
    
<svg height="300" width="500">
    <defs>
        <filter id="rozmycie" x="0" y="0">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
        </filter>
    </defs>
    
    <rect width="400" height="200" stroke="silver" fill="black" filter="url(#rozmycie)" />
</svg>
    
    
<svg height="300" width="300">
    <defs>
        <linearGradient id="gr1" x1="35%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:yellow;" />
            <stop offset="30%" style="stop-color:orange;" />
        </linearGradient>
    </defs>
    
    <ellipse cx="80" cy="80" rx="35" ry="50" fill="url(#gr1)" stroke="black" stroke-dasharray="2,12"/>
    <text fill="red" x="55" y="85" style="font-size:30px;">chuj</text>
</svg>
    


